.navbar {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid #e4e8eb;
  padding: 0 50px;
  .image {
    height: 75px;
  }
  .cartBlock{
    display: flex;
    position: relative;
    text-decoration: none;
    .cartCounter{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      position: absolute;
      font-size:large ;
      color: white;
      right: 0;
      top:0;
      border-radius: 10px;
      background-color: red;
    }
  }
  .link{
    text-decoration:none;
    color: black;
    :visited{
      text-decoration: none;
    }
    :active{
      text-decoration: none;
    }
  }
}